<nav>
    <div class="nav-links">
        <a routerLink="/" routerLinkActive="active">Home</a>

        <ng-container *ngIf="user$ | async as user; else showLogin">
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
            <a (click)="logout()" class="logout-link">Logout</a>
        </ng-container>

        <ng-template #showLogin>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </ng-template>

        <!-- <a routerLink="/about" routerLinkActive="active">About</a> -->
        <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </div>
</nav>
