<div class="container">
    <div class="info-container">
        <h2>About this web</h2>
        <div class="info-section">
            <div class="image-container">
                <img src="/assets/1920x1080.svg" alt="img" />
            </div>
            <div class="info">
                <p>
                    This is a simple web application that mimics the
                    functionality of a social media, allowing users to post
                    tweets, follow other users, and interact with posts. It is
                    built using Angular and Firebase.
                </p>
                <p>
                    The application features user authentication, real-time
                    updates, and a responsive design. It is designed to provide
                    a seamless user experience similar to popular social media
                    platforms.
                </p>
            </div>
        </div>
        <div class="info-section">
            <div class="info">
                <p>
                    The application is open-source and available on GitHub. You
                    can contribute to the project, report issues, or suggest
                    features. The code is written in TypeScript and follows best
                    practices for Angular development.
                </p>
                <p>
                    Feel free to explore the code, run the application locally,
                    and customize it to your liking. Your contributions are
                    welcome!
                </p>
            </div>
            <div class="image-container">
                <img src="/assets/1920x1080.svg" alt="img" />
            </div>
        </div>
    </div>
</div>
