<footer class="footer">
    <div class="left-container">
        <h3>Enlaces de interés</h3>
        <div class="links">
            <div class="link">
                <fa-icon [icon]="faReact" class="icon"></fa-icon>
                <a target="_blank" href="https://react.dev/">React</a>
            </div>
            <div class="link">
                <fa-icon [icon]="faAngular" class="icon"></fa-icon>
                <a target="_blank" href="https://angular.dev/">Angular</a>
            </div>
            <div class="link">
                <img src="/assets/nextjs.svg" alt="Nextjs" width="13" />
                <a target="_blank" href="https://nextjs.org/">Nextjs</a>
            </div>
            <div class="link">
                <img src="/assets/nestjs.svg" alt="Nestjs" width="13" />
                <a target="_blank" href="https://nestjs.com/">Nestjs</a>
            </div>
            <div class="link">
                <img src="/assets/typescript.svg" alt="Typescript" width="13" />
                <a target="_blank" href="https://www.typescriptlang.org/">
                    Typescript
                </a>
            </div>
            <div class="link">
                <img src="/assets/tailwind.svg" alt="Tailwind" width="13" />
                <a target="_blank" href="https://tailwindcss.com/">Tailwind</a>
            </div>
            <div class="link">
                <fa-icon [icon]="faBootstrap" class="icon"></fa-icon>
                <a target="_blank" href="https://getbootstrap.com/"
                    >Bootstrap</a
                >
            </div>
            <div class="link">
                <img src="/assets/postgresql.svg" alt="PostgreSQL" width="13" />
                <a target="_blank" href="https://www.postgresql.org/"
                    >Postgresql</a
                >
            </div>
            <div class="link">
                <img src="/assets/mysql.svg" alt="MySQL" width="13" />
                <a target="_blank" href="https://www.mysql.com/">MySQL</a>
            </div>
            <div class="link">
                <fa-icon [icon]="faGit" class="icon"></fa-icon>
                <a target="_blank" href="https://git-scm.com/">Git</a>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="right-container">
        <h3>Mantengamos el contacto</h3>
        <div class="links">
            <div class="link">
                <fa-icon [icon]="faWhatsapp" class="icon"></fa-icon>
                <a
                    target="_blank"
                    href="https://wa.me/56983069105?text=Hola! te contacto desde tu web"
                >
                    Whatsapp
                </a>
            </div>
            <div class="link">
                <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
                <a target="_blank" href="https://www.linkedin.com/in/jhoplainc">
                    LinkedIn
                </a>
            </div>
            <div class="link">
                <fa-icon [icon]="faGithub" class="icon"></fa-icon>
                <a target="_blank" href="https://github.com/JhoplaINC"
                    >GitHub</a
                >
            </div>
            <div class="link">
                <fa-icon [icon]="faAt" class="icon"></fa-icon>
                <a target="_blank" href="mailto:jorge.plaza.gj@gmail.com">
                    jorge.plaza.gj&#64;gmail.com
                </a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>This web is a personal project, not a real social media.</p>
        <p>
            Made with
            <fa-icon [icon]="faHeart" class="heart"></fa-icon>
        </p>
    </div>
</footer>
